{% extends 'navbar.html' %}
{% block nav %}
<p>backpack</p>

{% for p in product_list %}
    {% if p.nb > 0 %}
    <div class="obj_slot">
        <img class="pkb" src="{{ p.img }}" />
        <p>{{ p.nb }}  {{ p.name }}</p>
        <form method="POST" class="post_form">
            {% csrf_token %}

            <button type="submit" class="save_btn" id="this_id" name="this_id" value="{{ p.id }}">
                open {{ p.id }}
            </button>
        </form>
    </div>
    {% endif %}
{% endfor %}

{% if open_obj %}
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <div class="gray">
        <div class="open_box">

            <img src="https://cdn.discordapp.com/attachments/786291487801081876/1065729502791090347/pokeball-pokemon.gif"/>
            <div class="centered-element">
                <div class="div_slot">
                    <div class="slot"><a href="https://pokemondb.net/pokedex/{{ pkm }}"><img src="https://img.pokemondb.net/sprites/x-y/normal/{{ pkm }}.png" onerror="this.src='https://assets.stickpng.com/images/60fe96343d6240000487129f.png'" alt="{{ pkm }}" class="img"></a></div>
                    <p class="pp">{{ pkm }}</p>
                </div>
            </div>
            <form method="POST" class="post_form">
            {% csrf_token %}
                <button type="submit" class="claim_box" name="this_id" value="1">
                    claim
                </button>
            </form>
        </div>
    </div>
{% endif %}

{% for pr in profile %}
    <p>money: {{ pr.money }}</p>
    <p>my objects: {{ pr.my_objects }}</p>
    <br>
{% endfor %}

{% endblock %}