{% extends 'navbar.html' %}
{% block nav %}
<div class="poke">
<h1 class="pp">Pokedex</h1>
{% for p in pokemon_list %}
    <div class="div_slot">
        {% if p.nb > 0 %}
            <div class="slot"><a href="https://pokemondb.net/pokedex/{{ p.name }}"><img src="https://img.pokemondb.net/sprites/x-y/normal/{{ p.name }}.png" alt="{{ p.name }}" class="img"></a></div>
            <p class="pp">{{ p.name }}</p>
        {% else %}
            <div class="slot"><a href="https://pokemondb.net/pokedex/{{ p.name }}"><img src="https://img.pokemondb.net/sprites/x-y/normal/{{ p.name }}.png" alt="{{ p.name }}" class="img_none"></a></div>
            <p class="pp">{{ p.name }}</p>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}