{% extends 'navbar.html' %}
{% block nav %}
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<style>
  #messages {
    position: relative;
    display: inline-block;
    margin: 30px;

    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 2px 2px black;
    background-color: #888888;
    height: 600px;
    width: 400px;
    overflow: auto;
    resize: both;
}

#my_msg {
    position: relative;
    display: inline-block;
    margin: 5px;

    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    padding-bottom: 0px;
    box-shadow: 4px 2px 2px black;
    background-color: #FF9C01;
    min-width: 250px;
    float:right;

}

#your_msg {
    position: relative;
    display: inline-block;
    margin: 5px;

    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    padding-bottom: 0px;
    box-shadow: 4px 2px 2px black;
    background-color: #333333;
    color : #FF9C01;
    min-width: 250px;

}


</style>

<p>room: {{ room_name }}</p>


<form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>


<script type="text/javascript">
let url = `ws://${window.location.host}/ws/socket-server/`

console.log(url);

const chatSocket = new WebSocket(url)

chatSocket.onmessage = function(e){
    let data = JSON.parse(e.data)
    console.log('Data:', data)

    if(data.type === 'chat'){
        let messages = document.getElementById('messages')

        messages.insertAdjacentHTML('beforeend', `<div id="my_msg">
                                    <p>${data.message}</p>
                                </div>`)
    }
}

let form = document.getElementById('form')
form.addEventListener('submit', (e)=> {
    e.preventDefault()
    let message = e.target.message.value
    chatSocket.send(JSON.stringify({
        'message':message
    }))
    form.reset()
})

</script>
{% endblock %}
