{% extends 'navbar.html' %}
{% block nav %}
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<style>
  #display {
    position: relative;
    display: inline-block;
    margin: 30px;

    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 2px 2px black;
    background-color: #888888;
    height: 600px;
    width: 400px;
    overflow: auto;
    resize: both;
}

#msg {
    position: relative;
    display: inline-block;
    margin: 10px;

    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 4px 2px 2px black;
    background-color: #555555;
}

</style>

<p>room: {{ room_name }}</p>

<div id="display">

</div>

<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/chat/getMessages/{{room}}/",
        success: function(response){
            console.log(response);
            $("#display").empty();
            for (var key in response.messages)
            {
                var temp="<div id='msg'>"+response.messages[key].user+"<p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div><br>";
                $("#display").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
    element = document.getElementById('display');
    element.scrollTop = element.scrollHeight;
},100);
})
</script>

<form id="post-form">
  {% csrf_token %}
  <input type="hidden" name="username" id="username" value="{{username}}"/>
  <input type="hidden" name="room_id" id="room_id" value="{{room_details}}"/>
  <input type="text" name="message" id="message" width="100px" />
  <input type="submit" value="Send">
</form>


<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/chat/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>
{% endblock %}
