{% extends 'navbar.html' %}
{% block nav %}
    <div id="top">
        {% if user.is_authenticated %}
            <p>{{ user.username }}
            {{ id }}</p>
            <br>
            <br>
            {% for pr in profile %}
                <p>Username: {{ pr }}</p>
                <p>money: {{ pr.money }}</p>
                <p>Date edit: {{ pr.date_modified }}</p>
                <br>
            {% endfor %}

        <a href="/logout"><h2>logout</h2></a>
        {% else %}
        <a href="/register"><h2>register</h2></a>
        <a href="/login"><h2>login</h2></a>
        {% endif %}
    </div>

    <h1>Choisissez votre mode</h1>
    <div id="client">
        <a href="/client"><h2>client</h2></a>
    </div>
    <div id="graph">
        <a href="/graph"><h2>graph</h2></a>
    </div>

    {% if admin %}
        {% block admin %}
        {% endblock %}
    {% endif %}
{% endblock %}
