{% extends 'navbar.html' %}
{% block nav %}
<style>
#content {
    position: fixed;
    margin: auto;
    /*background: hsla(0, 40%, 10%, 0.75);*/
    height: 100%;
    width: 100%;
    left: 0px;
    overflow-y: auto;
}

.trade_room {
    position: relative;
    display: inline-block;
    margin: 60px;

    border: 1px solid;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 4px 2px 2px black;
    background-color: #333333;
    height: 50vh;
    width: 50vh;
    float: left;
}

.fleche {
    position: relative;
    margin: 60px;
    float: left;
    top: 10wh;
    font-size: 75px;
}

#red{
    background-color : red;
}

#blue{
    background-color : blue;
}

</style>
    <div id="content">
        <p>trade panel</p>
        <div class="trade_room">
            <h1>ME: {{ current_user }}</h1>

            <p>Pokemon ID</p>
            <form method="POST" class="post_form">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ username }}"/>
                <input type="number" id="nb" name="pkm_id" value="1" min="1" max="722">
                <button type="submit" class="save_btn" id="this_id" name="this_id" value="hi">
                    add
                </button>
            </form>
            {% if list %}
                {% for p in list %}
                    <div class="div_slot">
                        <div class="slot"><a href="https://pokemondb.net/pokedex/{{ p }}"><img src="https://img.pokemondb.net/sprites/x-y/normal/{{ p }}.png" onerror="this.src='https://assets.stickpng.com/images/60fe96343d6240000487129f.png'" alt="{{ p }}" class="img"></a></div>
                        <p class="pp">{{ p }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {% if value == 1 %}
                <form method="POST" class="post_form">
                    <div id="blue" type="submit" class="trade_enter" value="2">connect</div>
                </form>
            {% elif value == 2 %}
                <form method="POST" class="post_form">
                    <div id="red" type="submit" class="trade_enter" value="3">validate</div>
                </form>
            {% else %}
                <form method="POST" class="post_form">
                    <div id="green" type="submit" class="trade_enter" value="4">confirm trade</div>
                </form>
            {% endif %}
        </div>
        <div class="fleche">
            <h1>⇋</h1>
        </div>
        <div class="trade_room">
            <h1>other player</h1>
            <div id="." class="trade_enter" value="1">validate</div>
        </div>
        <div id="pkm_id"><h1>hello</h1></div>
    </div>
<script type="text/javascript">
let path = '{{ request.get_full_path }}'
let url = `ws://${window.location.host}/ws/socket-server/`

console.log(url);

const chatSocket = new WebSocket(url)

chatSocket.onmessage = function(e){
    let data = JSON.parse(e.data)
    console.log('Data:', data)

    if(data.type === 'chat'){
        let pkm_id = document.getElementById('pkm_id')

        if(`${data.user}` === '{{username}}'){
            messages.insertAdjacentHTML('beforeend', `<div id="my_msg">
                                        ${data.user}
                                        <p>${data.pkm_id}</p>
                                        </div>`)
        } else {
            messages.insertAdjacentHTML('beforeend', `<div id="your_msg">
                                        ${data.user}
                                        <p>${data.pkm_id}</p>
                                        </div>`)
        }
    }
}

let form = document.getElementById('form')
form.addEventListener('submit', (e)=> {
    e.preventDefault()
    let pkm_id = e.target.pkm_id.value
    let user = e.target.user.value
    chatSocket.send(JSON.stringify({
        'pkm_id': pkm_id,
        'user': user
    }))
    form.reset()
})

</script>
{% endblock %}
