{% load static %}

<link href="{% static 'css/eth.css' %}" rel="stylesheet">

<div class="change_eg">
    <div class="change_box">
        <div class="auto_box">
            <img src="https://media.discordapp.net/attachments/1074399508751982672/1075117966632423495/tick-check-mark-icon-sign-symbol-design-free-png.png?width=759&height=676" alt="complete">
            <div class="bd">
                <p>Payment Complete</p>
            </div>
            <p class="i4"> {{ phrase }}</p>
            <div id="home_btn">
                <button id="home" class="import_button" onclick="home_redirect()">home</button>
            </div>
            <a href="#" id="auto" class="i4">Transfer logs</a>
            <div class="seize"></div>
        </div>
    </div>
</div>

<script>
    function home_redirect() {
        window.location.href = 'http://127.0.0.1:8000/pay_btc/';
    }
</script>
