{% extends 'navbar.html' %}
{% block nav %}
<style>
        .btc {
            color: white;
        }

        .text {
            font-size: 16px;
            margin: 0px;
            color: #555555;
        }

        #ratio {
            font-size: 14px;
            margin: 20px;
            margin-top: -10px;
            color: red;
        }

        li {
            color: white;
        }

        .change_box{
            position: relative;
            display: inline-block;
            margin: 30px;
            background: #111111;
            border-radius: 10px;
            padding: 20px;
            padding-right: 0px;
            font-size: 40px;
            }

        .change_btn{
            position: relative;
            display: inline-block;
            margin: -20px;
            margin-right: 0px;
            margin-bottom: 10px;
            background: #333333;
            border-radius: 10px;
            padding: 20px;
            padding-left: 40px;
            width: 160px;
        }

        .change_btn:hover{

        }


        #buy{
            border-radius: 10px 0px 0px 0px;
        }

        #sell{
            border-radius: 0px 10px 0px 0px;
        }

        #buy_select{
            border-radius: 10px 10px 0px 10px;
            background: #111111;
            z-index: 2;
        }

        #sell_select{
            border-radius: 10px 10px 10px 0px;
            background: #111111;
            z-index: 2;
        }


        .inp{
            position: relative;
            display: inline-block;
            margin: 20px;
            background: #222222;
            border-radius: 10px;
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
            width: 300px;
            font-size: 30px;
        }

        input{
            padding: 0px;
            padding-bottom: 6px;
            width: 120px;
            border-radius: 10px;
            background: #222222;
            color: white;
            font-size: 25px;
            margin: 0px;
            border: none;
        }

        /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
	-o-appearance: none;
	margin:0
}

input:hover{
    border: none;
}

input:focus {
     outline:  none;
}

        select{
            margin: 20px;
            padding: 20px;
            width: 340px;
            border-radius: 10px;
        }


        .transact{
            margin: 20px;
            padding: 20px;
            width: 340px;
            border-radius: 10px;
        }

        .transact:hover{
            background: #AAAAAA;
        }

    </style>
<div class="btc">
    <div class="">
        <h1>payBTC</h1>
        <p>Wallet: 300 coin</p>
        <p>taux:</p>
        <ul>
            <li>1 coin = 0.00005 BTC</li>
            <li>1 coin = 0.025 USD</li>
            <li>1 BTC = {{ price }} USD</li>
        </ul>
    </div>
        <br>
        <br>
        <br>
        <div class="change_box">
            <div>
                <div class="change_btn" onclick="change_buy()" id="buy_select">Acheter</div>
                <div class="change_btn" onclick="change_sell()" id="sell">Vendre</div>
            </div>
            <div>
                <div>
                    <div>
                        <div class="inp">
                        <p class="text">dépenser</p>
                        <input type="number" id="usd_price" onchange="BTC_update()" step="1" name="nb" value="0" min="0" max="100000">USD</div>
                    </div>
                    <div>
                        <div class="inp">
                        <p class="text">recevoir</p>
                        <input type="number" id="btc_price" onchange="USD_update()" step="0.0001" name="nb" value="0.0000" min="0" max="100000">BTC</div>
                    </div>
                </div>
                <div class="text" id="ratio">1 BTC = {{ price }} USD</div>
                <div class="pay_mode">
                    <p class="text">Mode de paiement</p>
                    <select>
                        <option value="paypal">PayPal</option>
                        <option value="coin">Coins</option>
                    </select>
                </div>
                <div>
                    <button class="transact">Transact</button>
                </div>
            </div>
        </div>
    </div>
<script>
function change_buy() {
  const box = document.querySelector(".change_box")
  box.innerHTML = `<div>
                <div class="change_btn" onclick="change_buy()" id="buy_select">Acheter</div>
                <div class="change_btn" onclick="change_sell()" id="sell">Vendre</div>
            </div>
            <div>
                <div>
                    <div>
                        <div class="inp">
                        <p class="text">dépenser</p>
                        <input type="number" id="usd_price" onchange="BTC_update()" step="1" name="nb" value="0" min="0" max="100000">USD</div>
                    </div>
                    <div>
                        <div class="inp">
                        <p class="text">recevoir</p>
                        <input type="number" id="btc_price" onchange="USD_update()" step="0.0001" name="nb" value="0.0000" min="0" max="100000">BTC</div>
                    </div>
                </div>
                <div class="text" id="ratio">1 BTC = {{ price }} USD</div>
                <div class="pay_mode">
                    <p class="text">Mode de paiement</p>
                    <select>
                        <option value="paypal">PayPal</option>
                        <option value="coin">Coins</option>
                    </select>
                </div>
                <div>
                    <button class="transact">Transact</button>
                </div>
            </div>`;
}

function change_sell() {
  const box = document.querySelector(".change_box")
  box.innerHTML = `<div>
                <div class="change_btn" onclick="change_buy()" id="buy">Acheter</div>
                <div class="change_btn" onclick="change_sell()" id="sell_select">Vendre</div>
            </div>
            <div>
                <div>
                    <div>
                        <div class="inp">
                        <p class="text">dépenser</p>
                        <input type="number" id="btc_price" onchange="USD_update()" step="0.0001" name="nb" value="0.0000" min="0" max="100000">BTC</div>
                    </div>
                    <div>
                        <div class="inp">
                        <p class="text">recevoir</p>
                        <input type="number" id="usd_price" onchange="BTC_update()" step="1" name="nb" value="0" min="0" max="100000">USD</div>
                    </div>
                </div>
                <div class="text" id="ratio">1 BTC = {{ price }} USD</div>
                <div class="pay_mode">
                    <p class="text">Mode de paiement</p>
                    <select>
                        <option value="paypal">PayPal</option>
                        <option value="coin">Coins</option>
                    </select>
                </div>
                <div>
                    <button class="transact">Transact</button>
                </div>
            </div>`;
}

function BTC_update() {
    let usd = document.getElementById("usd_price").value;
    let btc = usd / {{ price }};
    btc = btc.toFixed(5)
    document.getElementById("btc_price").value = btc;
}

function USD_update() {
    let btc = document.getElementById("btc_price").value;
    let usd = btc * {{ price }};
    usd = usd.toFixed(2)
    document.getElementById("usd_price").value = usd;
}


</script>
{% endblock %}
