body {
    display: block;
    margin: 0px;
    background-color: black;
}

#client {
	width: 50%;
	height: 100%;
	float: left;
	background-color: red;
}

#graph {
	width: 50%;
	height: 100%;
	float: left;
	background-color: green;
}

p {

}
